@page "/BaseServices.UserData"
@inherits Ace.AceGUI.Pages.BaseServicesCodeBehind
<h1>AceCommander Base Services UserData</h1>
@if (@IsInitialized == false)
{<p>IsInitialized is STILL false</p>}
else
{
    <div>
        <label for="GatewayEntryAPIKeyString">@labelForGatewayEntryAPIKeyString</label>
        <input type="text" class="form-control" id="GatewayEntryAPIKeyString" bind="@UserData.GatewayEntryAPIKeyString" placeholder="@placeHolderForGatewayEntryAPIKeyString" />
    </div>
    <div>
        <label for="GatewayNameString">@labelForGatewayNameString</label>
        <input type="text" class="form-control" id="GatewayEntryNameString" bind="@UserData.GatewayNameString" placeholder="@placeHolderForGatewayNameString" />
    </div>
    <button type="button" class="btn btn-default" onclick="async () => await PostGetBaseServicesUserData(0)">@labelForPostBaseServicesUserDataButton</button>

}
