@page "/BaseServices.Configuration"
@inherits Ace.AceGUI.Pages.BaseServicesCodeBehind
<h1>AceCommander Base Services Configuration Settings</h1>
@if (@IsInitialized == false)
{<p>IsInitialized is STILL false</p>}
else
{

<div>
    <label for="RedisCacheConnectionString">@labelForRedisCacheConnectionString</label>
    <input type="text" class="form-control" id="RedisCacheConnectionString" bind="@ConfigurationData.RedisCacheConnectionString" placeholder="@placeHolderForRedisCacheConnectionString" />
</div>
<div>
    <label for="MySqlConnectionString">@labelForMySqlConnectionString</label>
    <input type="text" class="form-control" id="MySqlConnectionString" bind="@ConfigurationData.MySqlConnectionString" placeholder="@placeHolderForMySqlConnectionString" />
</div>
<button type="button" class="btn btn-default" onclick="async () => await PostGetBaseServicesConfigurationData(0)">@labelForPostGetBaseServicesConfigurationData</button>
<p>test:@testint</p>
}
