@page "/BaseServices.UserData"
@inherits Ace.AceGUI.Pages.BaseServicesCodeBehind
<h1>AceCommander Base Services UserData</h1>

@if (@BaseServicesInitializationRspPayload == null)
{
<p>Loading (Calling onInitAsync)</p>
}
else
{
<h2>User Data</h2>
<div>
  <label for="GatewayEntryAPIKeyString">@labelForGatewayEntryAPIKeyString</label>
  <input type="text" class="form-control" id="GatewayEntryAPIKeyString" bind="@GatewayEntryAPIKeyString" placeholder="@placeHolderForGatewayEntryAPIKeyString" />
</div>
<div>
  <label for="GatewayNameString">@labelForGatewayNameString</label>
  <input type="text" class="form-control" id="GatewayEntryNameString" bind="@GatewayNameString" placeholder="@placeHolderForGatewayNameString" />
</div>
<button type="button" class="btn btn-default" onclick="@PostBaseServicesUserData">@labelForPostBaseServicesUserDataButton</button>
@if (@BaseServicesUserDataRspPayload == null)
  {
<p>User Data has not yet been submitted to Ace Commander</p>
  }
  else
  {
<p>PostBaseServicesUserDat returned @BaseServicesUserDataRspPayload.ToString() </p>
  }
}
