@page "/DiskAnalysisServicesConfigurationData"
@inherits Ace.AceGUI.Pages.DiskAnalysisServicesCodeBehind
<h1>AceCommander DiskAnalysisServices Configuration Data</h1>

@if (@DiskAnalysisServicesInitializationResponse == null)
{
<p><em>Loading (Calling onInitAsync)</em></p>
}
else
{
<h2>User Data</h2>
<div>
  <label for="DiskAnalysisServicesConfigurationDataPlaceholder">@labelForDiskAnalysisServicesConfigurationDataPlaceholder</label>
  <input type="text" class="form-control" id="DiskAnalysisServicesConfigurationDataPlaceholder" bind="@DiskAnalysisServicesConfigurationDataPlaceholder" placeholder="@placeHolderForDiskAnalysisServicesConfigurationDataPlaceholder" />
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" bind="@DiskAnalysisServicesConfigurationDataSave" /> @labelForDiskAnalysisServicesConfigurationDataSave
  </label>
</div>
<button type="button" class="btn btn-default" onclick="@SetDiskAnalysisServicesConfigurationData">Submit</button>
@if (@SetDiskAnalysisServicesConfigurationDataResponse == null)
  {
<p>Configuration Information has not yet been submitted to Ace Commander</p>
  }
  else
  {
<p>SetDiskAnalysisServicesConfigurationData returned @SetDiskAnalysisServicesConfigurationDataResponse.Result.ToString() </p>
  }
}

