@page "/DiskAnalysisServicesUserData"
@inherits Ace.AceGUI.Pages.DiskAnalysisServicesCodeBehind
<h1>AceCommander Disk Analysis Services User Data</h1>

@if (@DiskAnalysisServicesInitializationResponse == null)
{
  <p><em>Loading (Calling onInitAsync)</em></p>
}
else
{
  <h2>User Data</h2>
  <div>
    <label for="DiskAnalysisServicesUserDataPlaceholder">@labelForDiskAnalysisServicesUserDataPlaceholder</label>
    <input type="text" class="form-control" id="DiskAnalysisServicesUserDataPlaceholder" bind="@DiskAnalysisServicesUserDataPlaceholder" placeholder="@placeHolderForDiskAnalysisServicesUserDataPlaceholder" />
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" bind="@DiskAnalysisServicesUserDataSave" /> @labelForDiskAnalysisServicesUserDataSave
    </label>
  </div>
  <button type="button" class="btn btn-default" onclick="@SetDiskAnalysisServicesUserData">Submit</button>

  @if (@SetDiskAnalysisServicesUserDataResponse == null)
  {
  <p>User Information has not yet been submitted to Ace Commander</p>
  }
  else
  {
  <p>SetDiskAnalysisServicesUserData returned @SetDiskAnalysisServicesUserDataResponse.Result.ToString() </p>
  }
}

