@page "/RealEstateServices"
@inherits Ace.AceGUI.Pages.RealEstateServicesCodeBehind
<h1>AceCommander Real Estate Search Services</h1>

@if (@RealEstateServicesInitializationResponse == null)
{
  <p><em>Loading (Calling onInitAsync)</em></p>
}
else
{
  <hr />
  <h2>search for Properties</h2>
  <div>
    <label for="MinBedrooms">@labelForMinBedrooms</label>
    <input type="text" class="form-control" id="MinBedrooms" bind="@MinBedrooms" placeholder="@MinBedroomsPlaceHolder" />
  </div>
  <div>
    <label for="MaxBedrooms">@labelForMaxBedrooms</label>
    <input type="text" class="form-control" id="MaxBedrooms" bind="@MaxBedrooms" placeholder="@MaxBedroomsPlaceHolder" />
  </div>
  <div>
    <label for="MinBathrooms">@labelForMinBathrooms</label>
    <input type="text" class="form-control" id="MinBathrooms" bind="@MinBathrooms" placeholder="@MinBathroomsPlaceHolder" />
  </div>
  <div>
    <label for="MaxBathrooms">@labelForMaxBathrooms</label>
    <input type="text" class="form-control" id="MaxBathrooms" bind="@MaxBathrooms" placeholder="@MaxBathroomsPlaceHolder" />
  </div>

  <div>
    <label for="Availability">@labelForAvailability</label>
    <input type="checkbox"  id="Availability" bind="@Availability" />
  </div>

  <button type="button" class="btn btn-default" onclick="@PropertySearch">Submit</button>

  @if (@PropertySearchResponse == null)
  {
    <p>Search Information has not yet been submitted to Ace Commander</p>
  }
  else
  {
    <p>SearchForProperties returned @PropertySearchResponse.ToString() </p>
  }



}

